@mixin font-face($font-family, $font-weight, $font-style, $font-path) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url("#{$font-path}.woff2") format("woff2"),
         url("#{$font-path}.woff") format("woff");
    font-display: swap;
  }
}

@mixin project-button {
  margin: 0;
  font-family: $primary-font;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $button-color;
  border: none;
  display: block;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #9070EC;
  }

  &:active {
    background-color: #593CAC;
  }

  &:disabled {
    background-color: #BDBDBD;
    cursor: not-allowed;
  }
}

