.header {
  padding-left: 20px;

  @media (width >= $tablet-width) {
    padding: 0 20px;
  }

  @media (width >= $desktop-width) {
    padding: 0 40px;
  }
}

.header__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.header__logo-wrapper {
  padding: 12px 0;

  @media (width >= $tablet-width) {
    padding: 22px 0;
    margin-right: 67px;
  }

  @media (width >= $desktop-width) {
    padding: 22px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 0;
  }
}

.header__logo {
  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__logo-text {
  display: none;

  @media (width >= $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
}

.header__actions {
  display: flex;
  margin-left: auto;

  @media (width >= $desktop-width) {
    margin-left: 0;
    gap: 21px;
  }
}

.header__action {
  display: block;
  text-decoration: none;
  position: relative;

  &:active {
    background-color: #F0EBFF;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: auto 0;
    background-color: #000000;
  }

  &:hover::before {
    background-color: $button-color;
  }

  &:focus::before {
    outline: none;
    background-color: $button-color;
  }

  &:focus-visible::before {
    outline: none;
    background-color: $button-color;
  }

  @media (width >= $tablet-width) {
    &::before {
      width: 60px;
      height: 80px;
    }
  }
}

.header__action--login {
  &::before {
    mask-image: url("../../icons/stack.svg#account-icon");
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  @media (width >= $desktop-width) {
    &::before {
      position: absolute;
      left: -2px;
    }
  }
}

.header__action--cart {
  &::before {
    mask-image: url("../../icons/stack.svg#basket-icon");
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  @media (width >= $desktop-width) {
    &::before {
      position: absolute;
      left: -2px;
    }
  }
}

.header__actions-text {
  display: none;

  @media (width >= $desktop-width) {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
    padding: 32px 20px 32px 44px;

    &:hover {
      color: $button-color;
    }
  }
}
