.header {
  padding-left: 20px;
}

.header__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.header__logo-wrapper {
  padding: 12px 0;
}

.header__logo {
  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__actions {
  display: flex;
  margin-left: auto;
}

.header__action {
  display: block;

  &:active {
    background-color: #F0EBFF;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: auto 0;
    background-color: #000000;
  }

  &:hover::before {
    background-color: $button-color;
  }

  &:focus::before {
    outline: none;
    background-color: $button-color;
  }

  &:focus-visible::before {
    outline: none;
    background-color: $button-color;
  }
}

.header__action--login {
  &::before {
    mask-image: url("../../icons/stack.svg#account-icon");
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.header__action--cart {
  &::before {
    mask-image: url("../../icons/stack.svg#basket-icon");
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}
