.main-nav {
  order: 1;

  @media (width >= $tablet-width) {
    order: 0
  }

  @media (width >= $desktop-width) {
    margin: 0 auto;
  }
}

.main-nav__toggle {
  width: 60px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;

  &:active {
    background-color: #F0EBFF;
  }

  @media (width >= $tablet-width) {
    display: none;
  }

}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1.5px;
  background-color: #000000;
  cursor: pointer;
  top: 24px;
  left: 22px;
  box-shadow: 0 5px 0 0 #000000, 0 10px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1.5px;
  background-color: #000000;
  transform: rotate(45deg);
  top: 29px;
  left: 22px;
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 1.5px;
  background-color: #000000;
  transform: rotate(-45deg);
  top: 29px;
  left: 22px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 320px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 23;

  @media (width >= $tablet-width) {
    position: static;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #F0EBFF;


  &:last-child {
    border-bottom: 1px solid #F0EBFF;
  }

  @media (width >= $tablet-width) {
    border-bottom: none;
    border-top: none;

    &:last-child {
      border-bottom: none;
    }
  }
}

.main-nav__link {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  padding: 20px 0 20px;
  color: $primary-color;
  letter-spacing: 0.2px;

  &:active {
    background-color: #F0EBFF;
  }

  @media (width >= $tablet-width) {
    padding: 32px 20px;
    letter-spacing: 0.3px;
    position: relative;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $button-color;
      outline: none;
    }


    &:active {
      color: $button-color;
      background-color: #F0EBFF;
    }
  }
}

.main-nav__link--current {
  @media (width >= $tablet-width) {
    color: $button-color;

    &::before {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $button-color;
      content: "";
    }
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (width >= $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (width >= $desktop-width) {
    gap: 20px;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
}

