.map__wrapper {
  background-color: #F2F2F2;
  background-image:
    image-set(
      url("../../images/map-images/map-mobile@1x.jpg") 1x type("image/jpg"),
      url("../../images/map-images/map-mobile@2x.jpg") 2x type("image/jpg"),
      url("../../images/map-images/map-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/map-images/map-mobile@2x.webp") 2x type("image/webp")
      );
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 420px;

  @media (width >= $tablet-width) {
    background-image:
      image-set(
        url("../../images/map-images/map-tablet@1x.jpg") 1x type("image/jpg"),
        url("../../images/map-images/map-tablet@2x.jpg") 2x type("image/jpg"),
        url("../../images/map-images/map-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/map-images/map-tablet@2x.webp") 2x type("image/webp")
        );
    height: 480px;
  }

  @media (width >= $desktop-width) {
    background-image:       image-set(
      url("../../images/map-images/map-desktop@1x.jpg") 1x type("image/jpg"),
      url("../../images/map-images/map-desktop@2x.jpg") 2x type("image/jpg"),
      url("../../images/map-images/map-desktop@1x.webp") 1x type("image/webp"),
      url("../../images/map-images/map-desktop@2x.webp") 2x type("image/webp")
      );
    height: 540px;
  }
}
