.promo {
  padding: 0;
  position: relative;
}

.promo__container {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 60px;
  background-color: #F3EBE1;
}

.promo__container-lavender {
  background-color: #EAE6FC;
}

.promo__container-espresso {
  background-color: #E5E6E8;
}

.promo__container-show {
  display: flex;
  animation: fadein 1s ease-in-out 0s 1 normal forwards;
}

.promo__label {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #7859CF;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

.promo__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.8px;
}

.promo__description {
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.promo__control {
  display: flex;
  align-items: center;
  gap: 21px;
}

.promo__price {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

.promo__price-old {
  color: #7859CF;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: line-through;
}

.promo__picture-wrapper {
  order: -1;
  margin-bottom: 10px;
}

.promo__slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  display: flex;
  align-items: center;

  &:hover,
  &:focus,
  &:focus-visible {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    outline: none;
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.promo__slider-arrow--prev {
  left: 0;
}

.promo__slider-arrow--next {
  right: 0;
}

.promo__slider-arrow.disabled {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
}


